<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--				<a id="test"></a>-->
<!--				<div id="box"></div>-->
<!--				<div id="box1"></div>-->
<!--				<button onclick="genScreenshot()">click</button>-->


				<div id="my_camera"></div>
				<img src="" id="my_camera_img">
				<button id="shotbutton">
					<a href="javascript:void(take_snapshot())">Take Snapshot</a>
				</button>
<!--				<form action="uploadPhoto" method="post" enctype="multipart/form-data">-->
<!--					<input type='file' webkitdirectory >-->
<!--					<button id="upload-btn" type="button">upload</button>-->
<!--				</form>-->
				<div id="my_video"></div>
				<div id="my_video_img"></div>
<!--				<img src="" id="my_video_img">-->
				<button id="shotbutton1" onclick="genScreenshot()">click</button>
</body>
</html>